<h1>Good day, {{.Fullname}}</h1>
<form method="POST">
<div>
  <div>
    <div>Fullname:</div><div><input type="text" name="fullname" value="{{.Fullname}}"/></div>
  </div>
  <div>
    <div>Address:</div><div><input type="text" name="address" value="{{.Address}}"/></div>
  </div>
  <div>
    <div>Email:</div><div><input type="text" name="email" value="{{.Email}}"/></div>
  </div>
  <div>
    <div>Telephone:</div><div><input type="tel" name="tel" value="{{.Telephone}}"/></div>
  </div>
</div>
<input type="submit" value="Save"/>
</form>
<a href="/signout/{{.ID}}">Sign out</a>