<h1>{{.Title}}</h1>

<h3>New user? Sign up now.</h3>

<form action="/signup" method="POST">
  <input type="text" placeholder="Email" name="username" />
  <input type="password" placeholder="Password" name="password" />
  <input type="submit" value="Sign up" />
</form>

<h3>Existing user? Sign in below.</h3>

<form action="/signin" method="POST">
  <input type="text" placeholder="Email" name="username" />
  <input type="password" placeholder="Password" name="password" />
  <input type="submit" value="Sign in" />
</form>