<h1>Good day, {{.Fullname}}</h1>
<a href="/profile/{{.ID}}/edit">Edit profile</a>
<div>
  <div>
    <div>Fullname:</div><div>{{.Fullname}}</div>
  </div>
  <div>
    <div>Address:</div><div>{{.Address}}</div>
  </div>
  <div>
    <div>Email:</div><div>{{.Email}}</div>
  </div>
  <div>
    <div>Telephone:</div><div>{{.Telephone}}</div>
  </div>
</div>
<a href="/signout/{{.ID}}">Sign out</a>